## Preprocessing

In [10]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [11]:
application_df.columns
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.

#  YOUR CODE GOES HERE
application_df = application_df.drop(columns=['EIN'])

In [12]:
# Check the unique values in the NAME column
name_counts = application_df['NAME'].value_counts()

# Set a threshold for how frequent a name must be to be kept as is
threshold = 50  # You can adjust this number based on your dataset
print(name_counts)

NAME
PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: count, Length: 19568, dtype: int64

In [13]:
# Create a list of names to keep based on frequency
names_to_keep = name_counts[name_counts >= threshold].index.tolist()

# Replace the less frequent names with 'Other'
application_df['NAME_BINNED'] = application_df['NAME'].apply(lambda x: x if x in names_to_keep else 'Other')

# Now drop the original NAME column, as it is binned into 'NAME_BINNED'
application_df = application_df.drop(columns=['NAME'])

In [14]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
unique_values = application_df.nunique()
print(unique_values)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
NAME_BINNED                 52
dtype: int64

In [15]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
#  YOUR CODE GOES HERE
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [16]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
cutoff_value = 200
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_types_to_replace = application_type_counts[application_type_counts < cutoff_value].index.tolist()
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [17]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
#  YOUR CODE GOES HERE
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [18]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
count = application_df['CLASSIFICATION'].value_counts()
count_greater_than_1 = count[count > 1]

# Display the filtered counts
print(count_greater_than_1)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [19]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
cutoff_value = 1000
classification_counts = application_df['CLASSIFICATION'].value_counts()
classifications_to_replace = classification_counts[classification_counts <= cutoff_value].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [20]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
application_df_encoded = pd.get_dummies(application_df, drop_first=True)
application_df_encoded.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,NAME_BINNED_TOPS CLUB INC,NAME_BINNED_UNITED FEDERATION OF DOLL CLUBS INC,NAME_BINNED_UNITED STATES BOWLING CONGRESS INC,NAME_BINNED_UNIVERSITY OF FLORIDA,NAME_BINNED_UNIVERSITY OF WYOMING,NAME_BINNED_VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY,NAME_BINNED_VFW AUXILIARY DEPARTMENT OF OKLAHOMA INC,NAME_BINNED_WASHINGTON STATE GRANGE,NAME_BINNED_WASHINGTON STATE UNIVERSITY,NAME_BINNED_WORKERS UNITED
0,1,5000,1,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1,108590,1,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
3,1,6692,1,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,1,142590,1,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [21]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
X = application_df_encoded.drop(columns=['IS_SUCCESSFUL'])  # Features (exclude target column)
y = application_df_encoded['IS_SUCCESSFUL']  # Target
# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [22]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [23]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=128, activation='relu', input_dim=X_train_scaled.shape[1]))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=48, activation='relu'))

# Third hidden layer (optional)
nn.add(tf.keras.layers.Dense(units=32, activation='relu'))

# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))
# Check the structure of the model
nn.summary()

WARNING:tensorflow:From c:\Users\sdeep\anaconda3\envs\dev\lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 128)               11264

 dense_1 (Dense)             (None, 48)                6192

 dense_2 (Dense)             (None, 32)                1568

 dense_3 (Dense)             (None, 1)                 33

=================================================================
Total params: 19057 (74.44 KB)
Trainable params: 19057 (74.44 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [24]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(optimizer='adam', 
           loss='binary_crossentropy', 
           metrics=['accuracy'])

WARNING:tensorflow:From c:\Users\sdeep\anaconda3\envs\dev\lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [25]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled, y_train, 
                   epochs=100,        # Number of epochs (you can adjust this)
)

Epoch 1/100
WARNING:tensorflow:From c:\Users\sdeep\anaconda3\envs\dev\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\sdeep\anaconda3\envs\dev\lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

858/858 [==============================] - 3s 2ms/step - loss: 0.4969 - accuracy: 0.7544
Epoch 2/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4802 - accuracy: 0.7641
Epoch 3/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4763 - accuracy: 0.7652
Epoch 4/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4738 - accuracy: 0.7666
Epoch 5/100
858/858 [==============================] - 2s 3ms/step - loss: 0.4728 - accuracy: 0.7686
Epoch 6/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4716 - accuracy: 0.7687
Epoch 7/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4709 - accuracy: 0.7685
Epoch 8/100
858/858 [==============================] - 2s 3ms/step - loss: 0.4697 - accuracy: 0.7705
Epoch 9/100
858/858 [==============================] - 2s 3ms/step - loss: 0.4695 - accuracy: 0.7716
Epoch 10/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4688 - accuracy: 0.7720
Epoch 11/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4683 - accuracy: 0.7719
Epoch 12/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4669 - accuracy: 0.7721
Epoch 13/100
858/858 [==============================] - 2s 3ms/step - loss: 0.4668 - accuracy: 0.7720
Epoch 14/100
858/858 [==============================] - 2s 3ms/step - loss: 0.4663 - accuracy: 0.7726
Epoch 15/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4667 - accuracy: 0.7719
Epoch 16/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4652 - accuracy: 0.7725
Epoch 17/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4651 - accuracy: 0.7730
Epoch 18/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4649 - accuracy: 0.7733
Epoch 19/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4647 - accuracy: 0.7735
Epoch 20/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4639 - accuracy: 0.7744
Epoch 21/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4643 - accuracy: 0.7741
Epoch 22/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4639 - accuracy: 0.7734
Epoch 23/100
858/858 [==============================] - 2s 3ms/step - loss: 0.4629 - accuracy: 0.7753
Epoch 24/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4632 - accuracy: 0.7749
Epoch 25/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4622 - accuracy: 0.7754
Epoch 26/100
858/858 [==============================] - 2s 3ms/step - loss: 0.4623 - accuracy: 0.7740
Epoch 27/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4619 - accuracy: 0.7749
Epoch 28/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4619 - accuracy: 0.7759
Epoch 29/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4617 - accuracy: 0.7752
Epoch 30/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4614 - accuracy: 0.7747
Epoch 31/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4611 - accuracy: 0.7751
Epoch 32/100
858/858 [==============================] - 2s 3ms/step - loss: 0.4610 - accuracy: 0.7751
Epoch 33/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4601 - accuracy: 0.7769
Epoch 34/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4604 - accuracy: 0.7769
Epoch 35/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4598 - accuracy: 0.7766
Epoch 36/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4600 - accuracy: 0.7763
Epoch 37/100
858/858 [==============================] - 2s 3ms/step - loss: 0.4596 - accuracy: 0.7761
Epoch 38/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4595 - accuracy: 0.7762
Epoch 39/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4600 - accuracy: 0.7755
Epoch 40/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4592 - accuracy: 0.7769
Epoch 41/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4593 - accuracy: 0.7756
Epoch 42/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4587 - accuracy: 0.7759
Epoch 43/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4582 - accuracy: 0.7768
Epoch 44/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4590 - accuracy: 0.7764
Epoch 45/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4588 - accuracy: 0.7767
Epoch 46/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4581 - accuracy: 0.7763
Epoch 47/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4584 - accuracy: 0.7766
Epoch 48/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4580 - accuracy: 0.7760
Epoch 49/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4581 - accuracy: 0.7770
Epoch 50/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4581 - accuracy: 0.7765
Epoch 51/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4577 - accuracy: 0.7770
Epoch 52/100
858/858 [==============================] - 2s 3ms/step - loss: 0.4575 - accuracy: 0.7765
Epoch 53/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4574 - accuracy: 0.7775
Epoch 54/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4572 - accuracy: 0.7765
Epoch 55/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4576 - accuracy: 0.7765
Epoch 56/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4573 - accuracy: 0.7767
Epoch 57/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4570 - accuracy: 0.7766
Epoch 58/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4573 - accuracy: 0.7770
Epoch 59/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4575 - accuracy: 0.7770
Epoch 60/100
858/858 [==============================] - 2s 3ms/step - loss: 0.4566 - accuracy: 0.7762
Epoch 61/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4566 - accuracy: 0.7778
Epoch 62/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4570 - accuracy: 0.7765
Epoch 63/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4565 - accuracy: 0.7770
Epoch 64/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4566 - accuracy: 0.7769
Epoch 65/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4565 - accuracy: 0.7773
Epoch 66/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4563 - accuracy: 0.7775
Epoch 67/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4566 - accuracy: 0.7770
Epoch 68/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4559 - accuracy: 0.7769
Epoch 69/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4563 - accuracy: 0.7769
Epoch 70/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4558 - accuracy: 0.7779
Epoch 71/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4558 - accuracy: 0.7773
Epoch 72/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4557 - accuracy: 0.7776
Epoch 73/100
858/858 [==============================] - 2s 3ms/step - loss: 0.4559 - accuracy: 0.7777
Epoch 74/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4559 - accuracy: 0.7780
Epoch 75/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4556 - accuracy: 0.7775
Epoch 76/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4552 - accuracy: 0.7775
Epoch 77/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4553 - accuracy: 0.7776
Epoch 78/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4555 - accuracy: 0.7777
Epoch 79/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4552 - accuracy: 0.7777
Epoch 80/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4553 - accuracy: 0.7773
Epoch 81/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4553 - accuracy: 0.7771
Epoch 82/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4551 - accuracy: 0.7778
Epoch 83/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4551 - accuracy: 0.7776
Epoch 84/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4552 - accuracy: 0.7781
Epoch 85/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4548 - accuracy: 0.7774
Epoch 86/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4545 - accuracy: 0.7778
Epoch 87/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4551 - accuracy: 0.7776
Epoch 88/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4545 - accuracy: 0.7776
Epoch 89/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4549 - accuracy: 0.7774
Epoch 90/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4549 - accuracy: 0.7781
Epoch 91/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4540 - accuracy: 0.7778
Epoch 92/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4545 - accuracy: 0.7781
Epoch 93/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4542 - accuracy: 0.7779
Epoch 94/100
858/858 [==============================] - 2s 3ms/step - loss: 0.4546 - accuracy: 0.7778
Epoch 95/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4541 - accuracy: 0.7781
Epoch 96/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4541 - accuracy: 0.7780
Epoch 97/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4544 - accuracy: 0.7779
Epoch 98/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4539 - accuracy: 0.7790
Epoch 99/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4538 - accuracy: 0.7785
Epoch 100/100
858/858 [==============================] - 2s 2ms/step - loss: 0.4539 - accuracy: 0.7790

In [26]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - loss: 0.5145 - accuracy: 0.7558 - 439ms/epoch - 2ms/step
Loss: 0.514496922492981, Accuracy: 0.7558308839797974

In [27]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save('model.h5')

print("Model saved to 'model.h5'")

Model saved to 'model.h5'

c:\Users\sdeep\anaconda3\envs\dev\lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(